.calendar-scale {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  box-sizing: border-box;
}

.calendar-scale .react-calendar {
  border: none !important;
}

.calendar-mini-wrapper {
  width: 100%;
  height: 320px;
  display: flex;
  overflow: visible;
  padding: 0;
  margin: 0;
  justify-content: center;
  text-align: center;
}

.react-calendar {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  box-sizing: border-box;
  background-color: transparent;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.mini-react-calendar__tile {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: 0;
  font-size: 1;
  overflow: hidden;
}

/*.react-calendar__month-view__days > .react-calendar__tile:nth-child(n + 36) {
  display: none;
}*/

.react-calendar__tile abbr {
  display: block;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
}

.react-calendar__tile span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.calendar-icon {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 4px;
}

.hide-other-month {
  color: #ccc;
}
