.curriculum-progress-wrapper {
  max-height: 400px; /* 원하는 만큼 줄이기 */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px; /* 스크롤바 공간 확보 */
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #6edac9 #f0f0f0;
}

.progress-title {
  margin: 0.4rem;
}

.curriculum-progress-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.curriculum-progress-item {
  background: #f8f9fa;
  border-radius: 20px;
  padding: 0.7rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: backgound-color 0.2s ease;
}

.curriculum-progress-item:hover {
  transform: scale(1.02);
  background-color: #e0f7ff;
}

.curriculum-progress-item .topic {
  font-weight: 600;
  font-size: 1rem;
}

.curriculum-card-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.curriculum-number {
  color: white;
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.curriculum-topic-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
