/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* 필요 시 조정 */
}

.logo {
  color: #6edac9;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: stretch;  /* 입력창과 버튼 너비 동일하게 */
  width: 100%;
  max-width: 478px;
  gap: 12px;
}

.input-email,
.input-password {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

/* Button */
.button {
  width: 478px;
  height: 64px;

  background: #6ED3C7;
  border-radius: 32px;
  border: 1px solid #FFFFFF;

  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  cursor: pointer;

  margin-top: 24px; /* 입력창과 간격 */
}




