/* Bright Web */
.bright-web {
  position: absolute;
  height: 70px;
  left: 0%;
  right: 6.48%;
  top: calc(50% - 70px/2 + 21px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #6ED3C7;
}


/* Button */
.button {
  position: absolute;
  width: 478px;
  height: 64px;
  left: 481px;
  top: 443px;

  background: #6ED3C7;
  border-radius: 32px;
}

/* Label */
.label {
  position: absolute;
  width: 45px;
  height: 24px;
  left: 0;
  top: 0;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

/* Text Field */
.text-field {
  box-sizing: border-box;
  position: absolute;
  width: 478px;
  height: 56px;
  left: 0;
  top: 31px;
  background: #FFFFFF;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 12px;
}

/* Input Label (for text field) */
.input-label {
  position: absolute;
  width: 59px;
  height: 24px;
  left: 0;
  top: 0;

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

/* Button */
.button {
  position: absolute;
  width: 478px;
  height: 64px;
  left: 481px;
  top: 443px;

  background: #6ED3C7;
  border-radius: 32px;
}